.container {
  margin: 0 auto;
  width: 768px;
/*  padding: 20px;*/
  border: 20px;
  border-radius: 4px;

}

ul {
  list-style-type: none; 
  margin: 0px;
  padding: 0px;
}

li a {
   display: inline; 
   width: 10em;
   float: left;
   color: #fff;
   background-color: #888888 ;
   text-align: center ;
   text-decoration: none;
   padding: .5em 1em;
 }


.content{
  margin: 0 auto;
  width: 768px;
  /*border: 20px;*/

  /*padding: 20px;*/
}
header {
  background-color: black;
}

.footer {
  margin-top: 20px;
}


#logo {
  display: block;
  margin: 0 auto;
}
